{% extends "_layout" %}

{% block main %}

{% if entry.level != 1 %}
    {% set parentLevel1 = ( entry.parent.parent ) ? '<a href="' ~ entry.parent.parent.url ~ '">' ~ entry.parent.parent.title ~ '</a> / ' %}
    {% set parentLevel2 = ( entry.parent ) ? '<a href="' ~ entry.parent.url ~ '">' ~ entry.parent.title ~ '</a> / ' %}
    <small>
        {{ (parentLevel1 is not empty) ? parentLevel1|raw }}
        {{ (parentLevel2 is not empty) ? parentLevel2|raw }}
        {{ entry.title }}
    </small>
{% endif %}

<h1>{{ entry.title }} <small>(Product Categories Template)</small></h1>

<div class="dt dt--fixed">
{% set children = entry.children %}
{% for child in children %}
    <a href="{{ child.url }}" class="dtc tc bg-black-10 ba">
        <figure><img src="https://dummyimage.com/600x400/b8b8b8/ffffff&text=Category+Image"/></figure>
        {{ child.title }}
    </a>
{% endfor %}
</div>

{% endblock %}