{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% block main %}
<section class="hero">
	<div class="hero-dish-image">
		<img alt="Dish" src="{{ entry.heroDishImage.one().url }}" />
	</div>
	<div class="hero-product-image">
		<img alt="Product" src="{{ entry.heroProductImage.one().url }}" />
	</div>
	<div class="hero-top" style="background-image:url('{{ entry.heroTexture.one().url }}')">
		{% set rel = entry.heroHeadingImage.one() %}
		{% if rel %}
			<img alt="Fall in Love with soup again" src="{{ rel.url }}" />
		{% endif %}
	</div>
	<div class="hero-bottom" style="background-image:url('{{ entry.heroTexture2.one().url }}')">
		<div class="hero-bottom--container">
			<div>
				{{ entry.heroTopParagraph  }}
			</div>
			<div class="hero-bottom--button">
				<button v-on:click="toggleHeroCopy" class="hero-read-more">Read More</button>
			<div class="toggle-container">
				{{ entry.heroBottomParagraph  }}
			</div>
		</div>
	</div>
	<div class="hero-footer" style="background-image:url('{{ entry.heroTexture.one().url }}')">
		<div class="hero-footer-garnish"><img alt="Garnish" src="{{ entry.headerBarSupportingImage.one().url }}" /></div>
		<span>See Recipes Below</span>
		<button><img alt="See Recipes Below" src="{{ entry.iconImage.one().url }}"/></button>
	</div>
</section>
<section class="recipes">
	<div class="recipes-heading">
		<h2><span>Explore</span>Fall Soup Recipes</h2>
		<div class="recipes-heading--leaf"></div>
	</div>
	<div class="recipes-grid">
		<div class="recipe-row">
			{% for recipe in craft.entries.section('recipes').all() %}
				<div class="recipe-col" style="background-image:url('{{ entry.heroTexture.one().url }}')">
					<div class="recipe-outer">
						<div class="recipe-item">
							<a href="{{ recipe.url }}" class="recipe-img" style="background-image:url({{ recipe.recipeImage.one().url }})"></a>
							<div class="recipe-info">
								<a href="{{ recipe.url }}">
									{{ recipe.title }}
								</a>
								<p>
									{{ recipe.recipeDescription }}
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="recipes-garnish"><img alt="Garnish" src="{{ entry.headerBarSupportingImage.one().url }}" /></div>
</section>
<section class="info" style="background-image:url('{{ entry.heroTexture.one().url }}')">
	<div class="info-container">
		<div class="info-left">
			<div class="info-left--heading">
				<span>{{ entry.fpoSuperTitle }}</span>
				<h2>{{ entry.fpoTitle }}</h2>
			</div>
			<div class="info-left--copy">
				{{ entry.fpoCopy }}
			</div>
			
		</div>
		<div class="info-right">
			<div class="info-right--image">
				<figure>
					<img alt="{{ entry.fpoTitle }}" src="{{ entry.fpoProductImage.one().url }}" />
				</figure>
			</div>
		</div>
	</div>
	<div class="info-button">
		<a style="background-image:url({{ entry.fpoButtonBg.one().url }})" href="{{ entry.fpoButtonLink }}">See Our Products</a>
	</div>
	<div class="info-bottom-garnish"><img alt="Garnish" src="{{ entry.headerBarSupportingImage.one().url }}" /></div>
</section>

<section class="products">
	<h2>{{ entry.productsSectionTitle }}</h2>
	<p>{{ entry.productsSectionCopy }}</p>
	<div class="products-grid">
		<div class="products-row">
			{% for product in craft.entries.section('products').all() %}
				<div class="product-col">
					<div class="product-outer">
						<div class="product-item">
							<a href="{{ product.url }}" class="product-img" style="background-image:url({{ product.productImage.one().url }})"></a>
							<div class="product-info">
								<a href="{{ product.url }}">
									{{ product.title }}
								</a>
								{{ product.productDescription }}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="footer">
	<div class="footer-top" style="background-image:url('{{ entry.heroTexture2.one().url }}')">
		<a href="{{ entry.footerCtaLink }}">{{ entry.footerCtaText }}</a>
	</div>
	<div class="footer-mid" style="background-image:url({{ entry.footerBackground.one().url }});">
		<figure>
			<img alt="Footer Logo" src="{{ entry.footerLogo.one().url }}" />
		</figure>
	</div>
</section>
{% endblock %}
